.SideBar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: rgba(133, 138, 158, 0.671);
  color: black;
  padding-top: 60px;
  box-shadow: 0 0 10px gray inset;
}
.SideBar ul li {
  list-style: none;
}
.SideBar ul li a {
  display: block;
  color: black;
  padding: 5px 5px;
  box-sizing: border-box;
  text-decoration: none;
}
.SideBar ul li a.active {
  color: white;
  background: black;
}
